/* ==========================================================================
   Eric Zorn
   ========================================================================== */

.menu-title {
    color: white;
    margin-left: 50%;
    font-size: 40px;
    font-weight: 600;
}

#menuList li {
    list-style-type: decimal;
    color: white;
}

.disclaimer {
    color: #62D6A9;
    font-weight: 600;
}

@media screen and (max-width: 1183px) {
    header {
        height: 150px;
    }
}

@media screen and (max-width: 736px) {
    header {
        height: 330px;
    }
    header nav ul {
        width: 150px;
        position: absolute;
        margin-left: -250px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 375px) {
    header {
        height: 310px;
    }
    header nav ul {
        width: 150px;
        position: absolute;
        margin-left: -250px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 320px) {
    header {
        height: 330px;
    }
    nav {
        margin-right: 80px;
    }
    .menu-title {
        margin-left: 60px;
        width: 20px;
    }
}

#restaurantImage {
    width: 100%;
}